# Python 3.10, CUDA cu124 — pip fallback for pixi.toml [environments.gpu]
--extra-index-url https://download.pytorch.org/whl/cu124

torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1

rdkit
graph-tool
ftfy
packaging
regex
tqdm
numpy==1.26.4
matplotlib
pandas
opencv-python
wandb
pyarrow
hydra-core==1.3.2
omegaconf==2.3.0
opentsne
pytorch-lightning==2.0.4
pulp>=2.7.0
lmdb
jupyter
torch-geometric==2.3.1
albumentations==1.4.2
myopic-mces==1.1.1
